.form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text']{
  min-width: 70%;
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
}

.form input[type='text']:focus{
  box-shadow: 0 0 3px inset black;
}


.form button[type='submit']{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: greenyellow;
  color: aliceblue;
  border: 0;
  height: 30px;
  width: 40px;
}

.form button[type='submit']:hover{
  background-color: aliceblue;
  color: greenyellow;
  transition: 500ms;
}
